<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny roles="Cook"/>
        <deny users="cook"/>
        <deny roles="Menager"/>
        <deny users="Menager"/>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
