<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Menager"/>
      <deny roles="Cook"/>
      <deny roles="Administrator"/>
      <deny users="cook"/>
      <deny users="admin"/>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
